node_modules
.DS_Store
target/
node/
.idea/
sonar-example-plugin.iml

# Eclipse
.classpath
.project
.settings/

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions